*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container {
    background-color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    background-color: #fff;
    border-radius: 15px;
    width: 960px;
    height: 80%;
    align-items: center;
    position: relative;
}

.content::before {
    content: "";
    position: absolute;
    background: rgb(146,37,170);
    background: linear-gradient(90deg, rgba(146,37,170,1) 0%, rgba(68,5,122,1) 100%);
    width:40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    left: 0;
}

.first-content {
    display: flex;
}

.title {
    font-size: 28px;
    font-weight: bold;
}

.title-primary {
    color: #fff;
}

.title-second {
    color: #7B25AA;
}

.description {
    font: 15px;
    font-weight: 300px;
    color: #fff;
    line-height: 30px; 
}

.description-primary {
    color: #fff;
}

.description-second {
    color: #7f8c8d;
}

.btn {
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}

.btn-primary {
    background-color: transparent;
    font-size: 15px;
    padding: 10px;
    border: 1px solid #fff;
}

.btn-primary:hover {
    background-color: #fff;
    color: #691F91;
}

.btn-second {
    background-color: #7B25AA;
    border: 1px solid #7B25AA;
    padding: 7px 0px;
}

.btn-second:hover {
    background-color: #fff;
    border: 1px solid #7B25AA;
    color: #691F91;
}

.first-column {
    text-align: center;
    width: 40%;
    z-index: 10;
}

.first-content .second-column {
    z-index: 11;
}

.second-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.form input {
    width: 100%;
    height: 45px;
    border: none;
    background-color: #ecf0f1;
}

.label-input {
    display: flex;
    align-items: center;
    margin: 8px;
    background-color: #ecf0f1;
}

.second-content {
    position: absolute;
    display: flex;
}

.second-content .first-column {
    order: 2;
    z-index: -1;
}

.second-content .second-column {
    order: 1;
    z-index: -1;
}